.row{
  text-align:center;
  
}
#choices{
  display:flex;
  justify-content:space-between;
  color:orange;
  
}
.instructions {
  color:red ;
}
.header{
  color:white;
}
.result {
  color:orange;
}
.h3{
  color:orange
  ;
}